<!DOCTYPE html>
<html ng-app="yahtzee">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/css_imports.ejs %>
</head>
<body>


<% include templates/header.ejs %>
    <div class="container" ng-controller="game_cntl" id="gameboard">
        <% include templates/modal.ejs%>
        <h1 style="text-align: center;">Welcome to Yahtzee!</h1>
        <div id="rollarea">
            <p>Score: {{score}}</p>
            <p>Rolls Left: {{ 3 - roll}}</p>
            <p>Round: {{round}}</p>
            <div id="dieContainer">
                <table class="table">
                    <tr>
                        <td ng-repeat="dice in die track by dice.id">
                            <div id="{{dice.id}}" ng-click="toggleRoll(dice.id)" class="die">
                                <img src="{{dice.src}}">
                            </div>
                        </td>
                    </tr>
                </table>
                <button id="rollDiceButton" style="position: relative; right: 0px; bottom: 0px" class="btn-primary btn-sm" ng-click="rollDice(); roll = roll + 1">Roll Dice</button>
            </div>
        </div>



    </div>

</body>

<% include templates/js_imports %>
<script type="text/javascript" src="javascripts/gamecntl.js"></script>
<script type="text/javascript" src="javascripts/rulecntl.js"></script>


</html>