<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/css_imports.ejs %>
  </head>
  <body>
    <h3><%= title %></h3>
    <% include templates/header.ejs %>

  </body>

  <%include templates/js_imports.ejs%>
</html>
